.user-navbar {
  display: flex;
  position: relative;
  width: 100%;
}

.navbar-item {
  background: transparent;
  outline: none;
  border: 0;
  color: $darkgrey;
  font-weight: normal;
  font-size: 20px;

  height: $user-navbar-item-height;
  width: $user-navbar-item-width;

  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  font-weight: bold;
}

.navbar-underline-master {
  position: absolute;
  left: 0;
  bottom: 0;
}
