.logo-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo {
  height: 50px;
  fill: $black;
}

.logo-title {
  display: inline-block;
  margin-top: 8px;
  text-transform: uppercase;
  color: $black;
  letter-spacing: 4px;
  font-size: 20px;
}
