.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: $darkgrey;
  opacity: 0.8;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

  padding-top: 45px;
  width: 320px;
  background: $darkgrey;

  display: flex;
  flex-direction: column;
  --base-padding: 40px;
}

.close {
  margin-left: auto;
  margin-right: 35px;
  background: transparent;
  border: 0;
  color: $white;
}

.profile-master {
  padding-left: var(--base-padding);
  margin-top: 30px;
}

.navigation-master {
  margin-top: 40px;
}
.navigation-master:first-child {
  margin-top: 25px;
}
