.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: $darkgrey;
  opacity: 0.8;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

  width: 200px;
  background: $darkgrey;
}
