.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 36px 0 34px;
  height: calc(100% - 32px * 2);
  max-height: 208px;
}

.header-slogan {
  margin: 0;
  font-size: 17px;
}

.header-subscribe {
  background: $grey;
  color: $white;
  padding: 14px 49px;
  font-size: 14px;
  border: 0;
}
