.avatar-container {
  overflow: hidden;
  height: $avatar-size;
  width: $avatar-size;

  border: 3px solid $white;
  border-radius: 50%;

  flex-shrink: 0;
}

.avatar {
  height: 100%;
  width: 100%;

  object-fit: cover;
}
